<p>programs works!</p>
<button (click)="onAddNewProgram()" nz-button nzType="primary">
  Создать программу
</button>




<nz-table #basicTable [nzData]="(programs$ | async)">
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Address</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let program of basicTable.data">
      <td>{{program.caption}}</td>
      <td>{{program.description}}</td>
      <td>{{program.duration}}</td>
      <td>
        <img style="height: 70px; width: 70px;" [src]="program.image" alt="">
      </td>
      <td>
        <a>Action</a>
        <a>Delete</a>
      </td>
    </tr>
  </tbody>
</nz-table>