<nz-row [nzGutter]="16">
  <nz-col [nzSpan]="6">
    <ng-container *ngIf="(teachers | async) as data">
      <nz-statistic [nzValue]="data.tottal" [nzTitle]="'У вас работает'"></nz-statistic>
    </ng-container>
    <div>Преподавателя</div>
    <button (click)="onNavigateToTeachers()" nz-button nzType="primary">Добавить</button>
  </nz-col>
  <nz-col [nzSpan]="6">
    <ng-container *ngIf="(programs | async) as data">
    <nz-statistic [nzValue]="data.tottal" [nzTitle]="'У вас заведено'"></nz-statistic>
    </ng-container>
    <div>Программы</div>
    <button (click)="onNavigateToPrograms()" nz-button nzType="primary">Добавить</button>
  </nz-col>
</nz-row>